.hero-text-heading {
    font-size: 54px;
    line-height: 65px;
}

.looking_for {
    font-size: 34px;
}

.hero-text-section button {
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .looking_for {
        font-size: 24px;
    }

    .hero-text-heading {
        font-size: 34px;
        line-height: 42px;
    }

}