.blog-title h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
    ;
}

.blog-heading {
    /* font-size: 22px; */
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    margin-top: 1rem;
}

.meta-description {
    margin-bottom: 1rem;
}

.read-more-btn {
    color: #4f59b7;
    /* background-color: #4f59b7; */
    padding: 4px 10px;
    font-size: 16px;
    /* border-radius: 4px; */
    font-weight: 600;
}



.blog-content {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

}

@media (max-width: 768px) {
    .blog-content {
        font-size: 14px;
    }

    .blog-heading {
        margin-bottom: 0;
    }

    .blog-title h3 {
        font-size: 15px;
    }

    .blog-title p {
        font-size: 14px;
    }
}