@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat';
}

/* 
@media(min-width: 1440px) {
    .form-container {
        height: 80vh !important;
        margin-top: 2.5rem;
    }
} */

@media(min-height: 900px) and (min-width: 1440px) {
    .form-container {
        height: 80vh !important;
        margin-top: 2.5rem;
    }

    .text-wrapper {
        margin: 0 8rem;
    }

    .left-text-box h2 {
        width: 80% !important;
    }

    .left-text-box {
        width: 35% !important;
    }
}

.description {
    height: 400px;
    padding: 100px;

}

.download-cta span {
    font-size: 16px;
    font-weight: 400;


}

.page-title h5 {
    font-size: 20px;
    font-weight: 400;
}

.nav ul img {
    margin: 0 auto;
}

.about-us-box {
    margin-bottom: 5rem;
    margin-top: 2.5rem;
}


/* Hamburger */


.menu-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #f7f7f7;
    padding: 20px;
    z-index: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

.ham-menu-links {
    font-size: 12px;
}

.left-text-box h2 {
    font-weight: 500;
    font-size: 32px;
}

.dark {
    background-color: #f7f7f7;
}

.right-btn-box.first {
    flex-wrap: wrap;
    gap: 20px;
}

.right-btn-box.first button {
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.right-btn-box button {
    background-color: #f7f7f7;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-social {
    left: 44%;
}

.contact-details h2 {
    font-size: 33px;
    margin-top: 2rem;
}

.contact-box {
    margin-top: 2.5rem;
    width: 72%;

}

.contact-box p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 46px;
    line-height: 60px;
    font-weight: 600;
}

.contact-box ul li {
    list-style: disc;
}

.contact-box ul {
    width: 81%;
    margin: 0 auto;
}

.left-text-box {
    padding-right: 25px;
}

.left-text-box h2 {
    color: #4f59b7;
}

.contact-details h2 {
    color: #4f59b7;
}

.heading-clg {
    color: #4f59b7;
}

.offer-box {
    padding: 0.5rem 0.75rem;
    text-align: center;
    border: 1px solid #f7f7f7;
}

.offer-read-more {
    width: 100%;
    background-color: #9a9a9a;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    font-size: 13px;
    margin-top: 15px;
}

.page-banner {
    background-image: url(../src/assets/about-banner.jpg);
    height: 41vh;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.page-banner h3 {
    font-size: 34px;
    font-weight: 600;
}

.page-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
}

.cta-section {
    margin: 10vh 0;
}

.main-service-container {
    margin: 10vh 0;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
        height: 100%;
        gap: 1rem;
        margin-bottom: 10vh;
    }

    .contact-details h2 {
        font-size: 23px;
        margin-top: 1rem;
    }

    .contact-box ul li {
        font-size: 14px;
    }

    .contact-box p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .download-cta {
        margin-top: 2rem;
    }

    .about-us-box {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .find-cta {

        height: 100%;
        flex-direction: column;
        margin: 10vh 0;
        padding: 5vh 0;
    }

    .left-text-box {

        width: 90%;
        margin-bottom: 3rem;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .right-btn-box.first button {
        background-color: #fff;
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
    }

    .hero-title {
        font-size: 1rem;
    }

    .hero-subtitle {
        font-size: 32px;
        line-height: 39px;
        font-weight: 600;
    }


    .right-btn-box.first {
        display: flex;
        width: 100%;
        /* padding-left: 1rem; */
        flex-wrap: wrap;
        /* margin-left: 20px; */
        gap: 9px;
        padding: 10px;
    }

    .right-btn-box button {
        background-color: #f7f7f7;
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        /* width: 100%; */
    }

    .heading-clg {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }

    .heading-clg {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .feature-row {
        flex-direction: column;
    }

    .clg-description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 33px;
        text-align: center;
        margin-top: 1.5rem;
    }

    .main-container a {
        margin-top: 1.5rem;
    }

    .contact-container {
        width: 60%;
        margin: 0 auto;
    }

    .inner-container {
        flex-direction: column;
    }

    .about-us-box>p {
        width: 90%;
        margin: 0 auto;
        font-size: 18px;
    }

    .slogan-box p {
        font-size: 16px;
    }

    footer {
        display: none;
    }

    .menu-content {
        width: 50%;
    }

    .expect-section {
        flex-direction: column-reverse;
    }

    .about-us-box {
        height: 100%;
    }

    .slogan-container {
        width: 75%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

@media (min-width: 769px) {
    .feature-col {
        width: 100%;
    }
}

.contact-form::-webkit-scrollbar {
    display: none;
}